{% load static %}
<footer id="footer" style="background: white; margin-top: auto;">
    <div class="container footer-bottom clearfix" style="background: white;">
        <div class="copyright" style="text-align: center;">
            <span style="text-align: center;"><script>document.write(new Date().getFullYear());</script> &copy; Great Alliance JHS</span>. Developed by KING LOTH.
        </div>
    </div>
</footer>
<style>
    #footer {
        margin-top: auto; /* Pushes the footer to the bottom */
        background: #ccc; /* Adjust as needed */
        padding: 10px;
        text-align: center;
        color: black;
    }
</style>


