{% extends 'base.html' %}
{% block content %}
<div class="super_container" style="margin-top:20px;">
    <p class="login-box-msg" style="margin-top:10px;">Forgot Password</p>

    <form method="post">
     {% csrf_token %}
     {% for field in form %}
     <div class="form-group" style="color:black;">
       {{ field.error }}
       {{ field.label_tag }}
       <input placeholder="Enter your email." type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" required>

     </div>
     {% endfor %}
     <button type="submit" class="btn btn-block btn-secondary">Submit</button>
    </form>
</div>
{% endblock content %}