{% extends 'base.html' %}
{% block content %}
    {% if validlink %}
    <div class="super_container">
        <div class="card-body login-card-body" style="margin-top:30px;">
            <p class="login-box-msg">Change Password</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group" style="color:black;">
                    <small style="color:red;">{{ field.errors }}</small>
                    {{ field.label_tag }}
                    <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" required>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-secondary btn-block">Change Password</button>
            </form>
            <div class="password-requirements" style="margin-top:20px; color:black;">
                <h5>Password Requirements:</h5>
                <ul>
                    <li>At least 8 characters long</li>
                    <li>Contains both uppercase and lowercase letters</li>
                    <li>Includes at least one number</li>
                    <li>Has at least one special character (e.g., @, #, $, etc.)</li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <p><b>Link has Expired or Invalid</b></p>
    {% endif %}
{% endblock content %}
