{% extends 'staff_templates/base_template.html' %}
{% load static %}
{% block main_content %}
<br>

<div class="container-fluid songs-container" style="margin-top: 130px;">

    <div class="row">
        <!-- Left Album Info -->
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">

                <div class="panel-body" style="background-color: white;">
                    
                    <h1 align="center" style="font-family: 'Times New Roman', Times, serif;">{{ course.course_code }}<br> <small>{{ course.course_name }}</small></h1>
                    
                </div>
            </div>
        </div>




        <div class="col-sm-7"
            style="align:center; overflow-y: scroll; height:650px;background-color:white;color:black;font-family: 'Abhaya Libre';font-size:16px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <h3 align="center" ; style="text-align:center;font-family:'Times New Roman', Times, serif;font-size:40px;color: #728892">
                Submissions</h3>
            {% if submissions %}
            {% for submission in submissions reversed %}
            <div style="background-color:white; border-radius:2%;padding:10px; margin:5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <a href="{{ submission.file_submitted.url }}" style="color: #209dd4">{{ submission.user.last_name }} {{ submission.file_submitted }}</a><br>
                Submitted at <b>{{ submission.time_submitted }}</b><br>
            </div>
            {% endfor %}
            {% else %}
            <h4 style="text-align: center;margin-top: 70px;"><b>No submissions yet.</b></h4>
            {% endif %}
        </div><br><br><br>

    </div>
    {% endblock main_content %}