<div class="row mt-5" id="stu-row">

    <div class="col-lg-8 mt-5 mt-lg-0">

        <h6 id="add-head"><b>Kindly complete and submit the form to enroll the student in the school.</b></h6>
        <form action="{{ action_path }}" method="post" role="form" class="stu-form"
            enctype="multipart/form-data">
            {% csrf_token %}
            <h5 id="mess">
                {% if messages %}
                {% for message in messages %}

                {% if message.tags == 'error' %}
                <div class="alert alert-error" style="text-align: center;">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </h5>
            <div class="row">
                {% for field in form %}
                <div class="col-md-6 form-group mt-3 mt-md-0">

                    <label for="" style="color: black; font-size: 13px;"><b>{{ field.label_tag }}</b></label>
                    {{ field }}

                </div>
                {% endfor %}
                <div class="col-md-6 form-group mt-3 mt-md-0" style="margin-bottom: 10px;">
                        <label style="color: black; font-size: 13px;"><b>Class:</b></label>
                        <select id="student_level_id" name="student_level_id" class="form-control" style="text-align: center; margin-top: 7px;" required>
                            <option value="">-------------</option>
                            {% for level in level %}
                            <option value="{{level.id}}" {% if level.id == student.student_level_id.id %} selected {% endif %}>
                                {{ level.level_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
            </div>
            <div class="form-group mt-3 d-flex align-items-center justify-content-start" style="margin-bottom: 35px;">
                <a href="{% url 'admin_homepage' %}" class="btn btn-light" id="return-button">&larr; Return to Main Menu</a>
                <button type="submit" id="sub-button" class="form-control btn btn-success">Submit</button>
            </div>
        </form>

    </div>

</div>
<style>
    .form-control {
        width: 200px;
    }
    #add-head {
        color: black;
        text-align: center;
        margin-top: 40px;
        margin-left: 190px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }
    #add-head::after {
        content: "";
        display: block;
        width: 60%;
        height: 3px;
        background-color: #888888;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 20%;
    }
    #mess {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-size: 14px;
    }
    #stu-row {
        width: 80%;
        margin-left: 135px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 5px;
        background: white;
        border-radius: 7px;
        margin-bottom: 80px;
    }
    .stu-form {
        margin-left: 160px;
        width: 90%;
        margin-top: 50px;

    }
    #sub-button {
        border-radius: 4px;
        width: 180px;
        margin-left: 15px; /* Adjusting the space between the link and button */
    }

    #return-button {
        border-radius: 4px;
        margin-right: 10px;
        border: 1px solid red;
    }
    @media (max-width: 600px) {
        .form-control {
            width: 100%;
        }
        #add-head {
            color: black;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }

        #stu-row {
            width: 90%;
            margin-left: 10px;
            margin-right: 15px;
            left: 0px;
        }
        #sub-button {
            margin-left: 5px;
            width: 160px;
        }
        .stu-form {
            margin-left: 0px;
        }
    }
</style>