{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block main_content %}
<div class="super_container">
				<h5 class="add-head"><span id="greeting-message"></span> <b>{{ user.first_name }}</b></h5>
				<div class="row" style="margin-left:20px; margin-right:10px;">
                    <h6 style="font-size:13px;">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="text-align: center; width: 70%; max-width: 200px; margin: 0 auto;">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="text-align: center; width: 70%; max-width: 200px; margin: 0 auto;">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </h6>
					<div class="col-lg-4 hero_box_col">
                        <a href="{% url 'add_staff' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-user-tie fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Staff Registration</h6>
                                    Click to add new staff members to the school system.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'add_bursar' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-calculator fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Bursar Registration</h6>
                                    Click to add a new bursar to the school system.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'add_level' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-clipboard-list fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Add Class</h6>
                                    Create a new class and assign a class teacher to manage it.
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'manage_level' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-chalkboard fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Manage Classes</h6>
                                    View all classes and their assigned teachers.
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'add_academic_year' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-calendar-plus fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Add Academic Year</h6>
                                    Add a new academic year to the system.
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'add_course' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-book fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Add a New Subject</h6>
                                    Add a new subject to the school's system.
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'manage_course' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-book-open fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Manage Subjects</h6>
                                    View all subjects and their assigned teachers.
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'students_by_level' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-chart-bar fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Student Performance Report</h6>
                                    Access and review student assessment records.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'hod_all_attendance' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-calendar-check fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Student Attendance Report</h6>
                                    Access and review the complete attendance records for each student.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <a href="{% url 'alumni' %}" class="hero_box_link" style="text-decoration: none;">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <i class="fas fa-graduation-cap fa-3x" style="margin-right: 10px;"></i>
                                <div class="hero_box_content" style="font-size:13px;">
                                    <h6>Alumni Records</h6>
                                    View the complete list of all students who have graduated from the school.
                                </div>

                            </div>
                        </a>
                    </div>
	</div>
</div>
<style>
    .hero_box {
            background: white;
        }
        .hero_box:hover {
        	color: #1a1a1a;
        	border: 2px solid gray;

    }
    .add-head {
        margin-left: 40px;
        margin-top: 30px;
    }
    .super_container {
        background: #f3f5f8;
        margin-bottom: 60px;
    }
    @media (max-width: 600px){
        .add-head {
            margin-left: 10px;
        }
    }
</style>

{% endblock main_content %}
