{% load static %}
<footer id="foot">
    <!--<div class="container footer-bottom clearfix" style="background: #f3f5f8;">-->
        <!--<div class="copyright" style="text-align: center;">-->
            <span style="text-align: center;"><script>document.write(new Date().getFullYear());</script> &copy; Great Alliance JHS. Developed by KING LOTH.</span> 
        <!--</div>-->
    <!--</div>-->
</footer>
<style>
    #foot {
        margin-top: auto; /* Pushes the footer to the bottom */
        background: #f3f5f8
        padding: 10px;
        text-align: center;
        color: black;
    }
    @media (max-width: 600px) {
        #footer {
            margin-left: 0px;
        }
    }
</style>


