{% extends 'hod_templates/base_template.html' %}
{% block main_content %}

<h6 class="add-head"><b>Select a class to view the students.</b></h6>
<form method="get" action="{% url 'students_by_level' %}" id="add-form">

    <div class="centered-select" style="margin-top:15px;">
        <label for="level_id" id="lev">Select Class:</label>
        <div class="select-wrapper">
        <select id="level_id" name="level_id" class="form-control" required>
            <option value="">-------------------</option>
            {% for level in levels %}
            <option value="{{ level.id }}" {% if level.id|stringformat:"s" == selected_level %}selected{% endif %}>
                {{ level.level_name }}
            </option>
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="centered-select" id="cent-sel">
    <button id="sub-but" type="submit" class="btn btn-success mt-3">Filter Students</button>
    </div>
    <h6 style="font-size:12px;">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top: 10px; margin-left: auto; margin-right: auto; width: 300px; text-align: center;">{{message}}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="width: 200px; margin-top: 10px; text-align: center;">{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </h6>
</form>

<div class="row" id="student-container">
    
{% if selected_level %}
    {% with selected_level as level_id %}
        {% for level in levels %}
            {% if level.id|stringformat:"s" == level_id %}
                {% if level.level_name == 'Alumni' %}
                    
                        <div class="d-flex justify-content-between align-items-center mb-3" id="search-div">
                            <div class="form-group mb-2 ml-2">
                                <form method="GET" action="{% url 'students_by_level' %}">
                                    <input type="hidden" name="level_id" value="{{ selected_level }}">
                                    <div class="input-group">
                                        <!-- Input field -->
                                        <input type="text" id="searchDate" class="form-control" placeholder="Completion Year" name="year">

                                        <!-- Search button with Font Awesome icon -->
                                        <button class="btn btn-success" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!--<div class="form-group mb-2 ml-2">
                                <input type="text" id="searchInput" class="form-control" placeholder="Student Name">
                            </div>-->
                        </div>
                    
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endif %}

    {% if students %}
    {% for student in students %}
    <div class="col-md-6 mb-3">
        <div class="d-flex align-items-center student-box">
            <div class="flex-shrink-0">
                <span class="badge bg-secondary">{{ forloop.counter }}.</span>
            </div>
            <div class="flex-grow-1 ms-2"><b>
                <a href="{% url 'view_student_results' student_id=student.id %}" style="color: black;">
                    {{ student.admin.last_name|upper }} {{ student.admin.first_name }}
                </a></b>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>No students were found for the selected level.</p>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="form-group mt-3 d-flex align-items-center justify-content-start" style="margin-bottom: 75px; margin-top: 70px;">
    <a href="{% url 'admin_homepage' %}" class="btn btn-light" id="return-button">&larr; Return to Main Menu</a>
</div>
<style>
    #student-container {
        margin: 10px auto;
        padding: 10px;
        max-width: 800px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    #student-container:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .student-box {
        padding: 6px;
        margin-left: 80px;

    }

    .student-box .badge {
        font-size: 10px;
        padding: 8px 12px;
        background-color: #6c757d;
        border-radius: 50%;
    }

    .student-box a {
        color: black;
        text-decoration: none;
    }

    .student-box a:hover {
        text-decoration: underline;
    }

    #return-button {
        border-radius: 4px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid red;
        margin-top: 20px;
    }
    #add-form {

    }
    #cent-sel {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .add-head {
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
}
    .table {
        margin-left: 70px;
        margin-top: 10px;
    }
    .
    #sub-but {
        margin-top: 20px;
    }
    @media (max-width: 600px) {
    #student-container {
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px;
    }
    #lev {
        margin-right: 40px;
    }
    #cent-sel {
        margin-right: 20px;
    }
    #sub-but {
        margin-right: 12px;
    }
    .select-wrapper {
        width: 160px;
    }
	.add-head {
		margin-left: auto;
		margin-right: auto;
	}
	.table {
	    margin-left: 0px;
	}
}
</style>
{% endblock %}
